# Бинарные файлы Go
main
main.exe
*.exe

# Зависимости Go
vendor/

# Переменные окружения
.env

# Docker volumes
*_data/
*_pgadmin/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.sql
